.container{
 width: 100%;
 min-height: 100dvh;
 margin: 0 auto;
 background-color: var(--background);
 display: grid;
 place-items: center;
}

.container .contimgs{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 300px;
  border: 1px solid;
  background-color: var(--secundary-cor);
  border: 2px solid var(--primary-cor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.container .contimgs div{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container .contimgs .boximgs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .contimgs .boximgs h1{
  font-size: 1rem;
  text-align: center;
  color: var(--primary-cor);
  text-decoration: underline;
}

.container .contimgs div img{
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center center;
}

.imagem1{
  box-shadow: 0px 0px 8px var(--primary-cor);
}


.imagem2{
  filter: drop-shadow(6px 0px 7px var(--primary-cor));
}










